# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*.pyo

# ==============================
# Jupyter Notebook
# ==============================

.ipynb_checkpoints/

# ==============================
# Ambiente virtual
# ==============================

.venv/
venv/
env/

# ==============================
# Arquivos de ambiente
# ==============================

.env
.env.*

# ==============================
# Dados locais
# ==============================

*.csv
*.xlsx
*.xls
*.json

# ==============================
# Sistema operacional
# ==============================

.DS_Store
Thumbs.db

# ==============================
# Arquivos temporários
# ==============================

*.tmp
*.temp
